



body{
    background: #ffd1dc;
}

main{
    background: white;
    max-width: 400px;
    margin: 0px auto;
}

/* Todo section */
#todoContent{
    min-height:300px;
}

h2{
    text-align:center;
    color: grey;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.input{
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align:center;
    color: grey;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

#inputNewTodo{
    height: 30px;
    font-family:  'Raleway', sans-serif;
    color: grey;
}

#inputNewTodo:focus{
    outline: 2px solid #ffd1dc;
}

#buttonAddNewTodo{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin-top: 15px;
    background-color: #ffd1dc;
    border: 1px solid #ffd1dc;
    border-radius: 3px;
}


li{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: #606060;
}

/* Delete & Complete buttons */

.buttonDeleteTodo , .buttonCompletedTodo{
    float: right;
}
.buttonCompletedTodo{
    border: 1px solid #55b25d;
    color: green;
    background-color: white;
}

.buttonCompletedTodo:hover{
    background-color:#55b25d;
    color:white;
    transition-duration: 0.5s;
}
.buttonDeleteTodo{
    margin-right: 30px;
    margin-left: 10px;
    border: 1px solid #ff5454;
    background-color:white;
    color:red;
}

.buttonDeleteTodo:hover ,
.deleteAllTodos button:hover{
    background-color:#ff5454;
    color:white;
    transition-duration: 0.5s;
    border: solid #ff5454;
}

.deleteAllTodos{
    text-align:center;
}

.deleteAllTodos button{
    color: grey;
    font-weight: 700;
    background-color:white;
    border: 2px solid grey;
}


/* Completed section */
hr{
    width: 80%;
    text-align: center;
    border: 0;
    height: 1px;
    background: pink;
    background-image: linear-gradient(to right, pink, hotpink, pink);
}

#completedTodos{
    min-height:300px;
  
}

/* Animation 
li{
  opacity: 0;
}

.fadeIn {
    -webkit-animation: fadeIn 400ms;
    animation: fadeIn 400ms;
    opacity: 1;
 }
*/



